{% extends '::indexbase.html.twig' %}

{% block content %}
<div class="error-page">
    <h1>{% block title %}404{% endblock %}</h1>
    <h2>Page not found.</h2>
    <a class="btn btn-primary btn-lg" href="{{ path('homepage') }}">Return to the homepage</a>
</div>
{% endblock %}
