<h3>Recovery password!</h3>

{# example, assuming you have a route named "login" #}
For completion of recovery password follow the link: <a href="{{ url('recovery_check_hash', {'hash' : hash, 'email' : email}) }}">Recovery password</a>.

Thanks!