/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
npm-debug.log
/node_modules
/bower_components
/web/admin/*
/web/uploads/*
/web/css/*
/web/js/*
/web/fonts/*
/web/media/*
