<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Testing system!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="main-bg index">
        {% block body %}
        <div class="container vertical-center">
            <div class="row index-page">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
