{% extends '::base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <br/>
        <div class="col-md-6 col-md-offset-3 well" style="background-color: white">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <br/>
            <input type="submit" VALUE="Update Profile" class="btn btn-large btn-primary" id="submit">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
