<script>

    $(function () {
        // setup an "add a tag" link
        var addLink = $('<a class="btn btn-success add">Add Answer</a>');
        var deleteLink = $('<a class="btn btn-danger remove"><i class="fa fa-trash"></i></a>');

        function addLinkClick(e) {
            e.preventDefault();
            var collection = $('#app_bundle_question_type_answers > div');
            var count = collection.length;

            var prototype = $('#app_bundle_question_type_answers').data('prototype').replace(/__name__/g, count);
            //var prototype = prototype.replace(/label__/g, '');
            prototype = $(prototype);

            prototype.append(deleteLink.clone().click(deleteLinkClick));

            $('#app_bundle_question_type_answers').append(prototype);
            changeChecks();
        }

        function deleteLinkClick(e) {
            e.preventDefault();
            $(this).parent().remove();
        }

        $('form #app_bundle_question_type_answers').each(function () {
            $(this).children().append(deleteLink.clone().click(deleteLinkClick));
        });

        var link = addLink.click(addLinkClick);
        $('#app_bundle_question_type_answers').after(link);


        var incorrectCheck = $('#app_bundle_question_type_allIncorrect');

        function changeChecks() {
            if (incorrectCheck.prop('checked')) {
                $("#app_bundle_question_type_answers input:checkbox").attr('disabled', true).attr('checked', false);
            } else {
                $("#app_bundle_question_type_answers input:checkbox").attr('disabled', false);
            }
        }

        changeChecks();

        incorrectCheck.click(function () {
            changeChecks();
        });

        function checkTrue() {
            var len = $('#app_bundle_question_type_answers input:checkbox:checked').length;

            if (len == 3)
                $('#app_bundle_question_type_answers input:checkbox:not(:checked)').attr('disabled','disabled');
            else
                $('#app_bundle_question_type_answers input:checkbox:not(:checked)').removeAttr('disabled');
        }

        checkTrue();

        $('#app_bundle_question_type_answers').click(function() {
            checkTrue();
        });
    });
</script>
